<div class='search'>
  <%= form_tag search_path do %>
    <%= text_field_tag :course, params[:course], :method => 'get', :class => 'input-medium search-query search-button' %>
    <%= submit_tag 'Search', :class => 'btn', :id => 'search-button' %>
  <% end %>
</div>
