<%= debug @lectures %>
<%= debug @info %>
<%= debug @meeting_times %>


<table class='table table-striped'>
  <caption>Which class are you interested in?</caption>
  <thead>
    <tr>
      <th>
      </th>
    </tr>
  </thead>
</table>

