<div class='table-wrapper'>
  <table class='table table-striped'>
    <caption>Which class are you interested in?</caption>
    <thead>
      <tr>Course Title</tr>
      <tr>Professor</tr>
      <tr>Days of the Week</tr>
      <tr>Course Times</tr>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <%= course.title %>
            </td>
            <td>
              <%= course.professor %>
            </td>
            <td>
              <%= course.time %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>

