// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search {
  padding-top: 12%;
  width: 260px ;
  margin-left: auto ;
  margin-right: auto ;
}

.search-button {
  width: 86;
}