// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search {
  padding-top: 12%;
  width: 350px ;
  margin-left: auto ;
  margin-right: auto ;
}

.input-medium{
	width: 200px;
}

.search-btn{
	margin-left:20px;
}

.cal-logo{
	height: 390px;
	width: 532px;
	position:relative;
  	top:35px;
  	left:20px;
}

.semester-box {
  width: 86px;
  position:relative;
  top:4px;
}

.table{


}
