<div class='cards'>
  <div class='card'>
    <div class='card-wrapper'>
      <div class='name'>
        Varun Rau
      </div>
      <div class='detail'>
        Second Year Computer Science. UC Berkeley.
      </div>
    </div>
  </div>
  <div class='card'>
    <div class='card-wrapper'>
      <div class='name'>
        Michael Tsang
      </div>
      <div class='detail'>
        Second Year MSE & EECS. UC Berkeley.
      </div>
    </div>
  </div>
  <div class='card'>
    <div class='card-wrapper'>
      <div class='name'>
        Ajay Tripathi
      </div>
      <div class='detail'>
        Second Year EECS. UC Berkeley.
      </div>
    </div>
  </div>
</div>
