// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search {
  padding-top: 12%;
  width: 350px ;
  margin-left: auto ;
  margin-right: auto ;
}

.input-medium{
	width: 200px;
}

.search-btn{
	margin-left:20px;
}

.cal-logo{
	height: 390px;
	width: 532px;
	position:relative;
  	top:35px;
  	left:20px;
}

.semester-box {
  width: 86px;
  position:relative;
  top:4px;
}

.row:hover {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

.table-wrapper {
	padding: 80px;
	margin: 10px;
	-webkit-box-shadow: 10px;
}

.table {
	-webkit-border-radius: 8px 8px;
}

caption {
	font-size: 24px;
	color: white;
	padding-bottom: 40px;
}

.title-page {
	font-size: 36px;
	color: white;
	position: relative;
	top: 90px;
	left: 170px;
	font-style: italic;
}

